<app-navbar>
  <section>
    <div class="text-center p-10">
      <h1 class="font-bold text-4xl mb-4">Hi {{myUserProfile.firstName}}!</h1>
      <h1 class="text-3xl">What do you want to do today</h1>
      <h2 class="text-2xl text-red-400" *ngIf="error !== ''">An error occured: {{error}}</h2>
    </div>
    <div
      class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
      <button type="button" (click)="toggleInfo()"
              class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
        Show my info
      </button>
      <button type="button" (click)="toggleOrders()" *ngIf="isAdmin"
              class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
        Show all orders
      </button>
      <button type="button" (click)="toggleOrders()" *ngIf="!isAdmin"
              class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
        Show my orders
      </button>

      <button type="button" (click)="logOut()"
              class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
        Log out
      </button>
      <button type="button" (click)="deleteAccountClicked()"
              class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
        Delete account
      </button>
    </div>

    <div *ngIf="warning === 'deleteAccountWarning'"
         class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
      <div class="bg-white p-6 rounded shadow-lg max-w-md">
        <h2 class="text-xl font-bold mb-4">Are you sure you want to delete your account?</h2>
        <p>(This cannot be reversed)</p>
        <div class="flex justify-end">
          <button (click)="deleteAccountConfirmed()"
                  class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 mr-2" id="confirmButton">Yes
          </button>
          <button (click)="deleteAccountCancelled()"
                  class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400" id="cancelButton">No
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="openedTab !== ''" class="text-center">
      <div *ngIf="openedTab === 'info'">
        <form [formGroup]="form" class="md:grid md:grid-cols-2 sm:grid-cols-1 content-center">
          <div class="mt-3">
            <h1>
              Name: {{ myUserProfile.firstName }}
              {{ myUserProfile.preposition }}
              {{ myUserProfile.lastName }}
            </h1>
            <h2>Member since: {{ myUserProfile.createDate | date: 'EEEE, MMMM d  yyyy' }}</h2>
            <h2>Email: {{ myUserProfile.email }}</h2>
          </div>

          <div class="md:w-fit grid grid-cols-1 md:grid-cols-2 justify-items-center justify-center gap-y-5 gap-x-14 mt-3 mb-5">
            <label class="m-1 text-xl font-bold" for="firstName">Email:</label>
            <input class="border border-b border-b-blue-400 m-1 bg-red-300 rounded-lg p-1" type="text" id="email" formControlName="email">

            <label class="m-1 text-xl font-bold" for="firstName">First Name:</label>
            <input class="border border-b border-b-blue-400 m-1 rounded-lg p-1" type="text" id="firstName" formControlName="firstName">

            <label class="m-1 text-xl font-bold" for="preposition">Preposition:</label>
            <input class="border border-b border-b-blue-400 m-1 rounded-lg p-1" type="text" id="preposition"
                   formControlName="preposition">

            <label class="m-1 text-xl font-bold" for="lastName">Last Name:</label>
            <input class="border border-b border-b-blue-400 m-1 rounded-lg p-1" type="text" id="lastName" formControlName="lastName">

            <button type="button" (click)="submit()"
                    class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
              Submit changes
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="openedTab === 'orders'" class="text-center mt-3 md:mx-20">
        <app-order-list></app-order-list>
      </div>
    </div>

  </section>
</app-navbar>
